<div class="details">
  <div class="item"><label>Name</label>: {{ employeeData.name }}</div>
  <div class="item"><label>Age</label>: {{ employeeData.age }}</div>
  <div class="item">
    <label>Department</label>: {{ employeeData.department }}
  </div>
  <div class="item">
    <label>Experience</label>: {{ employeeData.experience }}
  </div>
  <div class="item"><label>Mobile</label>: {{ employeeData.mobile }}</div>
  <div class="item"><label>Salary</label>: {{ employeeData.salary }}</div>

  <div class="buttons">
    <div class="btn" routerLink="update">Edit</div>
    <div class="btn">Delete</div>
  </div>
</div>
