header {
  width: 100%;
  line-height: 50px;
  background-color: rgb(11, 47, 207);
  color: white;
  .menus {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .menu {
      display: flex;
      width: 20%;
      justify-content: flex-start;
    }
  }

  .menu-item {
    font-weight: 700;
    margin: 0px 10px;
    font-size: 20px;
    cursor: pointer;
  }
}

footer {
  background-color: #525252;
  line-height: 50px;
  text-align: center;
  font-size: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
}
